<template>
    <div id="connexion" class="main-content">
        <div>
            <h2>Connexion</h2>
            <form @submit.prevent="connexionCompte">
                <div>
                    <label for="email">Email</label>
                    <input v-model="email" type="email" id="email" required>
                </div>
                <div>
                    <label for="password">Mot de passe</label>
                    <input v-model="password" type="password" id="password" required>
                </div>
                <div>
                    <button class="my-button">Se connecter</button>
                </div>
                <router-link to="/CreerCompte">Créer un compte</router-link>
            </form>
        </div>

    </div>

</template>

<script>
    export default {
        name: 'Connexion',
        data () {
            return {
                email:"",
                password: ""
            }
        },
        mounted() {
            if(this.memberConnected()) {
                this.$router.push('/Discussions')
            }
        },
        methods: {
            connexionCompte() {
                window.axios.post('members/signin', {
                    email: this.email,
                    password: this.password
                }).then(response => {
                    this.$store.commit('setMember', {
                        fullname: response.data.fullname,
                        email: response.data.email,
                        id: response.data._id
                    });
                    console.log("Token : " + response.data.token);
                    this.$store.commit('setToken', response.data.token);
                    this.setTokenAxios(response.data.token);
                    this.$router.push('/Discussions')
                }).catch(error => {
                    console.log(error.response.data.error);
                });
            }
        }
    }
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped>
    a {
        margin:auto;
    }

</style>
