<template>
    <div id="creation-compte" class="main-content">

        <h2>Créer un compte</h2>
        <form @submit.prevent="creationCompte">
            <div class="form-element">
                <label for="fullname">Nom</label>
                <input v-model="fullname"  id="fullname" required>
            </div>
            <div class="form-element">
                <label for="email">Email</label>
                <input v-model="email" type="email" id="email" required>
            </div>
            <div class="form-element">
                <label for="password">Mot de passe</label>
                <input v-model="password" type="password" id="password" required>
            </div>
            <div class="form-element">
                <label for="passwordVerif">Vérification mot de passe</label>
                <input v-model="passwordVerif" type="password" id="passwordVerif" required>
            </div>
            <div>
                <button class="my-button">Créer mon compte</button>
            </div>
            <router-link to="/">Retour</router-link>

        </form>
    </div>

</template>

<script>
    export default {
        name: 'CreerCompte',
        data () {
            return {
                fullname: "",
                email:"",
                password:"",
                passwordVerif:"",
            }
        },
        methods : {
            creationCompte() {
                if(this.password == this.passwordVerif) {
                    console.log(this.fullname, this.email, this.password);

                    window.axios.post('members', {
                        fullname: this.fullname,
                        email: this.email,
                        password: this.password
                    }).then(response => {
                        console.log("Votre compte a été créé. Vous pouvez vous connecter");
                        this.$router.push('/');
                    }).catch(error => {
                        console.log(error.response.data.error.join("\n"));
                    });
                } else {
                    console.log("Les deux mots de passe ne correspondent pas")
                }
            }
        }
    }
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped>


</style>
