<template>
    <div class="creer-discussion modal-mask">
        <div class="modal-container">
            <button class="button-close-modal" @click="$emit('closeCreerDiscussion')">
                <i class="fas fa-times"></i>
            </button>
            <h2>Nouvelle discussion</h2>
            <form @submit.prevent="creationDiscussion">
                <div>
                    <label for="topic">Topic</label><br>
                    <input v-model="discussion.topic"  id="topic" required>
                </div>
                <div>
                    <label for="label">Label</label><br>
                    <input v-model="discussion.label"  id="label" required>
                </div>
                <button type="submit" class="my-button button-modal" @click="$emit('closeCreerDiscussion'); $emit('closeChargerDiscussion')">Poster mon message</button>

            </form>
        </div>
    </div>

</template>

<script>
    export default {
        name: 'Discussions',
        data () {
            return {
                discussion: {
                    topic:"",
                    label:""
                },

            }
        },
        methods : {
            creationDiscussion() {

                window.axios.post('channels', {
                    topic: this.discussion.topic,
                    label: this.discussion.label,
                }).then(response => {
                    this.$router.push('/Discussions');
                    this.$emit('closeChargerDiscussion');
                }).catch(error => {
                     console.log(error.response.data.error);
                });
            }
        }
    }
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped>


</style>
