<template>
    <div class="discussion">
        <ModifierDiscussion v-if="afficherModifierDiscussion" :discussion="this.discussion" @closeModifierDiscussion="afficherModifierDiscussion = false"  ></ModifierDiscussion>
        <router-link :to="{ name: 'Discussion', params: { discussionId: discussion._id}}">
            <i class="fab fa-slack-hash"></i>
            <h3>{{discussion.topic}}</h3>
        </router-link>
        <span> - </span>
        <h4>{{discussion.label}}</h4>

        <span class="boutonsActions">
        <button @click="afficherModifierDiscussion = true"><i class="far fa-edit"></i></button>
        <button @click="$emit('supprimer', discussion._id)"><i class="fas fa-trash-alt"></i></button>
        </span>
        <hr>

    </div>
</template>

<script>

    import ModifierDiscussion from "../components/ModifierDiscussion.vue";

    export default {
        name: "Discussion",
        props:['discussion'],
        components: {
            ModifierDiscussion
        },
        data () {
            return {
                afficherModifierDiscussion: false
            }
        },
    }
</script>

<style scoped>
    i {
        font-size:1.5em;

    }
    .boutonsActions {
        text-align: right;
        display: block;
    }
</style>