<template>
    <div id="discussions" class="main-content">
        <h2>Discussions</h2>
        <button class="my-button" @click="afficherCreerDiscussion = true">
            <i class="fas fa-plus"></i>
            Nouvelle discussion
        </button>
        <CreerDiscussion v-if="afficherCreerDiscussion" @closeCreerDiscussion="afficherCreerDiscussion = false" @closeChargerDiscussion="chargerDiscussions" ></CreerDiscussion>
        <discussion v-for="(discussion,index) in discussions" :discussion="discussion" :key="discussion._id" @supprimer="supprimerDiscussion(index, $event)">
        </discussion>

    </div>

</template>

<script>
    import Discussion from "../components/Discussion.vue";
    import CreerDiscussion from "../components/CreerDiscussion.vue";

    export default {
        name: 'Discussions',
        components: {
            Discussion,
            CreerDiscussion
        },
        data () {
            return {
                discussions: '',
                afficherCreerDiscussion: false
            }
        },

        mounted() {
            this.chargerDiscussions();
        },
        methods : {
            chargerDiscussions() {
                window.axios.get('channels').then(response => {

                    this.discussions = response.data.reverse();
                }).catch(error => {
                     console.log(error.response.data.error + ": Les discussions n'ont pas été récupérées" );
                });

            },
            supprimerDiscussion(index,id) {
                if(confirm('Supprimer cette discussion ?')) {
                    window.axios.delete('channels/'+id).then(response => {
                        // mettre a jour la liste des messages
                        this.discussions.splice(index,1);
                    }).catch(error => {
                        console.log("erreur lors de la suppression" );
                    });
                }
            }
        }
    }
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped>
    button i {
        margin-right: 10px;

    }

</style>
