<template>
    <div class="discussionDetail main-content">
        <h2>{{discussion.topic}}</h2>
        <h3>{{discussion.label}}</h3>

        <hr>
        <Message v-for="(message,index) in messages" :message="message" :key="message._id" @supprimer="supprimerMessage(index, $event)"></Message>
            <input placeholder="Ajouter un message" @keyup.enter="ajouterMessage">
    </div>
</template>

<script>

    import Message from "../components/Message.vue";

    export default {
        name: "Discussion",
        components: {
            Message
        },
        data () {
            return {
                discussionId: false,
                discussion: false,
                messages: [],
                intervalid1:''
            }
        },

        mounted() {
            // on recupere l'id channel
            this.discussionId = this.$route.params.discussionId;
            this.chargerDiscussion();
        },
        beforeDestroy () {
            // avant de quitter le composant , on supprime le refresh toutes les 3 secondes
            clearInterval(this.intervalid1);
        },
        // permet de mettre à jour le composant si la route est mise à jour
        // par exemple, quand on change de discussion seule le discussionId change
        beforeRouteUpdate (to, from, next) {
            this.discussionId = to.params.discussionId;
            this.chargerDiscussion();
            next();
        },
        methods : {
            chargerDiscussion() {

                window.axios.get('channels/'+this.discussionId).then(response => {
                    this.discussion = response.data;
                    // on recharge les messages toutes les 3 secondes (si qqun d'autre a ecrit dans la discussion)
                    this.chargerMessages();
                    this.intervalid1 = setInterval(this.chargerMessages, 3000);
                    //this.chargerMessages();
                }).catch(error => {
                    console.log(error.response.data.error + ": La discussion n'a pas été récupérée" );
                });

            },
            chargerMessages() {

                window.axios.get('channels/'+this.discussionId+"/posts").then(response => {
                    this.messages = response.data;
                }).catch(error => {
                    console.log(error.response.data.error + ": Les messages n'ont pas été récupérés" );
                });

            },
            ajouterMessage(e) {
                const target = e.target;
                const newMessage = e.target.value;
                if(newMessage !== "") {
                    window.axios.post('channels/'+this.discussionId+"/posts", {
                        "message" : newMessage
                    }).then(response => {
                        target.value='';
                        this.chargerMessages();
                    }).catch(error => {
                        console.log(error.response.data.error + ": Le message n'a pas été ajouté" );
                    });
                }
            },
            supprimerMessage(index,id) {
                if(confirm('Supprimer ce message ?')) {
                    window.axios.delete('channels/'+this.discussionId+"/posts/"+id).then(response => {
                        // recharger les messages
                        this.messages.splice(index,1);
                    }).catch(error => {
                        console.log("erreur lors de la suppression" );
                    });
                }
            }

        }

    }
</script>

<style scoped>

    input {
        height: 40px;
        width: 100%;
        margin-top: 30px;

    }

</style>