<template>
    <div class="maFiche modal-mask">

        <div class="modal-container">

            <Avatar :email="this.membre.email"></Avatar>
            <button class="button-close-modal" @click="$emit('closeAfficherMaFiche')">
                <i class="fas fa-times"></i>
            </button>
            <h3>{{this.membre.fullname}}</h3>
            <div>{{this.membre.email}}</div>

        </div>

    </div>
</template>

<script>
    import Avatar from "../components/Avatar.vue";

    export default {
        name: "MaFiche",
        components: {
          Avatar
        },
        data () {
            return {
                membre: this.$store.state.member,
            }
        },
    }
</script>

<style scoped>

    .avatar {
        float: left;
        margin-right: 20px;
    }

    .maFiche {
        color:black;
    }
</style>