<template>
    <div id="membres" class="main-content">
        <h2>Membres</h2>
        <span>Il y {{this.membres.length}} membre(s)</span>
        <membre v-for="membre in membres" :membre="membre" :key="membre._id" @supprimerMembre="supprimerMembre(index, $event)">
        </membre>

    </div>

</template>

<script>
    import Membre from "../components/Membre.vue";

    export default {
        name: 'Membres',
        components: {
            Membre

        },
        data () {
            return {
                membres: ''
            }
        },

        mounted() {
            // on recupere les membres ds le store
            this.membres = this.$store.state.members;
            this.memberConnected();
        },
        methods : {
            supprimerMembre(index,id) {
                if(confirm('Supprimer ce membre ?')) {
                    window.axios.delete('members/'+id).then(response => {
                        // recharger les membres
                        this.$store.commit('setMembers', this.membres);
                    }).catch(error => {
                        console.log("erreur lors de la suppression" );
                    });
                }
            }
        }
    }
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped>

</style>
