<template>
    <div class="memberFiche modal-mask">

        <div class="modal-container">
            <button class="button-close-modal" @click="$emit('closeFicheMembre')">
                <i class="fas fa-times"></i>
            </button>
            <Avatar :email="membre.email"></Avatar>
            <h2>{{membre.fullname}}</h2>
            <div>{{membre.email}}</div>
            <h3>Derniers messages </h3>
            <div>
                <Message v-for="message in messages" :message="message" :dansFicheMembre="true" :key="message._id" @closeFiche="$emit('closeFicheMembre')"></Message>
            </div>
        </div>
    </div>
</template>

<script>
    import Avatar from "../components/Avatar.vue";
    import Message from "../components/Message.vue";
    import moment from 'moment';

    export default {
        name: "MembreFiche",
        props:['membre'],
        components: {
            Avatar,
            Message
        },
        data () {
            return {
                messages: [],
            }
        },
        mounted() {
            this.ChargerMessagesMembre();

        },

        methods: {
            ChargerMessagesMembre() {
                window.axios.get('channels').then(response => {

                    // on recupere tous les channels
                    let that = this;

                    window.axios.get('channels').then(response => {
                        let appelsDiscussions = [];
                        let discussions = response.data;
                        discussions.forEach(function (discussion) {
                            // on prepare toutes les promesses qui seront appelées
                            appelsDiscussions.push('channels/' + discussion._id + '/posts');
                        });

                        // On appelle tout et on traitera la réponse quand tout sera terminé
                        Promise.all(appelsDiscussions.map(url => window.axios.get(url))).then(resultats => {
                            let messagesTmp = [];
                            // on remplit un tableau temporaire avec tous les messages du membre
                            resultats.forEach(discussion => {
                                discussion.data.forEach(message => {
                                    if (message.member_id === this.membre._id) {
                                        message['discussion'] = discussion;
                                        messagesTmp.push(message);
                                    }
                                })
                            });
                            // on tri les messages
                            messagesTmp.sort(((a, b) => {
                                if (moment(a.updated_at).isBefore(moment(b.updated_at))) {
                                    return 1;
                                }
                                if (moment(a.updated_at).isAfter(moment(b.updated_at))) {
                                    return -1;
                                }
                                return 0;
                            }));
                            // on met a jour avec les 10 plus récents
                            this.messages = messagesTmp.slice(0, 10);


                        }).catch(error => {

                        });

                    }).catch(error => {

                    });
                });
            }
        }
    }
</script>

<style scoped>

    .avatar {
        float: left;
        margin-right: 20px;
    }
</style>