<template>
    <div>
    <MembreFiche v-if="afficherFicheMembre" @closeFicheMembre="afficherFicheMembre = false" :membre="membre"></MembreFiche>
    <div class="membre" >

        <h3 @click="afficherFicheMembre = true">{{membre.fullname}}</h3>
        <span @click="afficherFicheMembre = true"> - {{membre.email}}</span>
        <button v-if="membre._id !== this.$store.state.member.id" @click="$emit('supprimerMembre', membre._id)" class="button-supprimer">
            <i class="fas fa-trash-alt"></i>
        </button>
        <hr>
    </div>
        </div>
</template>

<script>
    import MembreFiche from "../components/MembreFiche.vue";

    export default {
        name: "Membre",
        props:['membre'],
        components: {
            MembreFiche
        },
        data () {
            return {
                afficherFicheMembre: false,
            }
        }
    }
</script>

<style scoped>
    h3 {
        cursor: pointer;
    }
</style>