<template>
    <div class="message-container" >
        <ModifierMessage v-if="afficherModifierMessage" :message="this.message" @closeModifierMessage="afficherModifierMessage = false"  ></ModifierMessage>

        <fichemembre v-if="afficherFicheMembre && !dansFicheMembre" @closeFicheMembre="afficherFicheMembre = false" :membre="member"></fichemembre>
        <div class="avatar" @click="afficherFicheMembre = true">
            <Avatar v-if="member !== false" :email="member.email" :size="60"></Avatar>
        </div>
        <div class="membre" @click="afficherFicheMembre = true">
            <div>{{member.fullname}}</div>

        </div>
        <div class="date-message">le {{message.formatedDate}}</div>
        <div class="message">{{message.message}}

        </div>
        <button v-if="dansFicheMembre" @click="voirDiscussion" class="button-voir">
            <i class="fas fa-search"></i>
        </button>
        <button v-if="message.member_id == this.$store.state.member.id" @click="afficherModifierMessage = true" class="button-modifier">
            <i class="far fa-edit"></i>
        </button>
        <button v-if="message.member_id == this.$store.state.member.id" @click="$emit('supprimer', message._id)" class="button-supprimer">
            <i class="fas fa-trash-alt"></i>
        </button>

        <hr>
    </div>
</template>

<script>
    import MembreFiche from "../components/MembreFiche.vue";
    import moment from 'moment';
    import Avatar from "../components/Avatar.vue";
    import ModifierMessage from "../components/ModifierMessage.vue";


    export default {
        name: "Message",
        props:['message','dansFicheMembre'],
        components: {
            ModifierMessage,
            'fichemembre':MembreFiche,
            Avatar,
        },
        data () {
            return {
                member: false,
                afficherFicheMembre: false,
                afficherModifierMessage: false
            }
        },
        mounted() {

            let that = this;
            this.$store.state.members.forEach(function (item) {
                if (item._id === that.message.member_id) {
                    that.member = item;
                }
            });
            moment.locale('fr');
        },
        // avant tout affichage / modification on formate la date pour affichage
        beforeUpdate () {
            this.message.formatedDate = moment(this.message.updated_at).format('L à HH:mm');
        },

        methods:{
            // methode pour gerer l'affichage de la discussion depuis une liste de message
            voirDiscussion() {
                // mise à jour de la route avec l'id de la discussion

                this.$router.push({ name: 'Discussion', params: { discussionId: this.message.channel_id } });
                // fermeture de la modale
                this.$emit('closeFiche');
            }
        }

    }
</script>

<style scoped>
    .avatar {
        grid-area: avatar;
        cursor:pointer;
        justify-self: center;

    }

    .membre {
        cursor:pointer;
        grid-area: membre;
        font-weight: bold;
        font-size: 1.2em;
        margin-bottom: 10px;


    }
    hr {
        grid-area: sep;
        width: 100%;

    }
    .date-message {
        grid-area: date;
        font-style: italic;
        justify-self: end;

    }
    .message {
        grid-area: message;

    }
    .button-modifier {
        grid-area: modif;
        font-size: 1.5em;

    }
    .button-supprimer {
        grid-area: suppr;
        font-size: 1.5em;

    }
    .button-voir {
        grid-area: voir;
        font-size: 1.5em;

    }
    .message-container {
        display: grid;
        grid-template-columns: 1fr 5fr 8fr 1fr 1fr 1fr;
        grid-template-areas:    "avatar  membre date date date date"
                                "avatar message message voir modif suppr"
                                "sep sep sep sep sep sep";
    }
</style>