<template>
    <div class="modifier-discussion modal-mask">
        <div class="modal-container">
            <button class="button-close-modal" @click="$emit('closeModifierDiscussion')">
                <i class="fas fa-times"></i>
            </button>
            <h2>Modifier une discussion</h2>
            <form @submit.prevent="modificationDiscussion">
                <div>
                    <label for="topic">Topic</label><br>
                    <input v-model="discussion.topic"  id="topic" required>
                </div>
                <div>
                    <label for="label">Label</label><br>
                    <input v-model="discussion.label"  id="label" required>
                </div>
                <button type="submit" class="my-button button-modal" @click="$emit('closeModifierDiscussion'); $emit('closeModifierDiscussion')">Modifier</button>

            </form>
        </div>
    </div>

</template>

<script>
    export default {
        name: 'ModifierDiscussion',
        props:['discussion'],
        data () {
            return {
            }
        },
        methods : {

            modificationDiscussion() {

                window.axios.put('channels/'+this.discussion._id, {
                    topic: this.discussion.topic,
                    label: this.discussion.label,
                }).then(response => {
                    this.$router.push('/Discussions');
                    // $emit('closeChargerDiscussion()');
                }).catch(error => {
                    console.log(error.response.data.error);
                });
            }
        }
    }
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped>


</style>
