<template>
    <div class="modifier-message modal-mask">
        <div class="modal-container">
            <button class="button-close-modal" @click="$emit('closeModifierMessage')">
                <i class="fas fa-times"></i>
            </button>
            <h2>Modifier un message</h2>
            <form @submit.prevent="modificationMessage">
                <div>
                    <label for="message">Nouveau texte</label><br>
                    <input v-model="message.message"  id="message" required>
                </div>
                <button type="submit" class="my-button button-modal" @click="$emit('closeModifierMessage')">Modifier</button>
            </form>
        </div>
    </div>

</template>

<script>
    export default {
        name: 'ModifierMessage',
        props:['message'],
        data () {
            return {}
        },
        methods : {

            modificationMessage() {

                window.axios.put('channels/'+this.message.channel_id+'/posts/'+this.message._id, {
                    message: this.message.message
                }).then(response => {
                    this.$router.push('/Discussion/'+this.message.channel_id);
                }).catch(error => {
                     console.log(error.response.data.error);
                });

            }
        }
    }
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped>


</style>
