<template>
    <div id="app" v-if="applicationEstActive">
        <nav id="navbar">
            <h1>Co'op</h1>
            <router-link to="/Membres" v-show="this.memberConnected()">Membres</router-link>
            <router-link to="/Discussions" v-show="this.memberConnected()">Discussions</router-link>
            <MaFiche v-if="afficherMaFiche" @closeAfficherMaFiche="afficherMaFiche = false" ></MaFiche>

            <div id="connexion-header" v-show="this.memberConnected()">
                <span>Bonjour </span>
                <button @click="afficherMaFiche = true" >{{$store.state.member.fullname}}</button>
                <span> - </span>
                <button id="button-logout" @click="logout">Se déconnecter</button>

            </div>
        </nav>
        <router-view/>
    </div>
</template>

<script>
    import MaFiche from "./components/MaFiche.vue";

    export default {
        name: 'App',
        components : {
            MaFiche
        },
        data() {
            return {
                applicationEstActive: false,
                afficherMaFiche:false
            }
        },
        mounted() {

            window.axios.get('ping').then((response) => {
                this.applicationEstActive = true;
                console.log(response.data);
            }).catch((error) => {
                this.applicationEstActive = false;
                console.log("L'application n'est pas disponible");
            })
        },
        methods : {
            logout(){
                window.axios.delete('members/signout').then((response) => {
                    this.$store.commit('setToken', false);
                    this.$store.commit('setMember', false);
                    this.$router.push("/");
                })
            }

        }

    }
</script>

<style >
    body {
        font-family: cantarell, "Open Sans", roboto;
        margin: 0px;

    }

    a {
        color: inherit;
        text-decoration: none;

    }

    .main-content {
        width: 50%;
        margin: auto;
        margin-top: 60px;
    }

/* Header */
    #navbar {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr 4fr;
        justify-items: center;
        align-items: center;
        background-color: #611f69;
        /*color: #ab9ba9;*/
        color: white;
        height: 80px;
        font-size: 1.5em;
    }

    #navbar #connexion-header {
        justify-self: end;
        padding-right: 10%;
    }

    #navbar button, #navbar a {
        color: #ab9ba9;

    }

    #navbar #button-logout {
        font-style: italic;
    }



/* Modals */
    .modal-mask{
        position: fixed;
        z-index: 9998;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background-color: rgba(0, 0, 0, .5);
        transition: opacity .3s ease;
        overflow: hidden;
    }

    .modal-container {
       /*display: grid;*/

        margin: auto;
        width: 40%;
        border-radius: 2px;
        margin-top: 10em;
        background: white;
        padding: 1em;
        box-shadow: 0 2px 8px rgba(0, 0, 0, .33);

    }
    .button-close-modal {
        float: right;
        /*justify-self: end;*/
        background: none;
        border: none;
        font-size: 2em;
        color: #611f69;

    }

    .button-modal {
        justify-self: center;
    }

    .addLink a {
        border: solid 3px #611f69;
        padding: 10px;
        color: #611f69;
    }

/*Titres*/
    h1 {
        font-size: 2em;
        color:white;
        font-weight: bold;
        margin:0px;
    }
    h2 {
        font-size: 2em;
        /*margin-left: 20px;*/
        text-transform: uppercase;
        color: #007a5a;
    }

    h3 {
        font-size: 1.5em;
        text-transform: capitalize;
        display: inline-block;
        /*text-decoration: underline;*/

    }

    h4 {
        font-weight: normal;
        display: inline-block;

    }
/* Boutons */
    button {
        border: none;
        background: inherit;
        font-size: inherit;
        color: inherit;
        cursor: pointer;
    }

    .my-button {
        /*border:none;*/
        background-color: #611f69;
        /*border: solid 3px #611f69;*/
        border-radius: 4px;
        display: flex;
        justify-content: center;
        align-items: center;
        height: 40px;
        /*line-height: 40px;*/
        cursor: pointer;
        /*padding: 2%;*/
        text-transform: uppercase;
        color: white;
        font-size: 1em;


    }
    .button i {
        margin-right: 5px;
    }

    .my-button:hover {
        color: white;
        background: #3f0e40;


    }

    form .my-button{
        width: 100%;
        justify-self: center;

    }

/* Forms */
    form, form .form-element {
        display: flex;
        flex-direction: column;
    }
    form label {
        font-weight: bold;
        font-size: 1.5em;
        margin-bottom:0.5em;
    }

    form input {

        width: 100%;
        height: 40px;
        border-radius: 4px;
        font-size: 1em;
        padding: 2px;
        border: 1px solid rgba(0,0,0,0.2);
        margin-bottom: 1em;
    }
    form a {
        margin:auto;
        padding-top: 20px;
        font-weight: bolder;
        font-size: 1.3em;
        color: #611f69;
    }

    form a:hover {
        color: #3f0e40;
    }

    input:focus {
        box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075), 0 0 8px rgba(102, 175, 233, .6);
    }

    hr {
        background-color: #007a5a;
        height: 0.2em;
    }


</style>
